#footer {
    background-color: #2E2F42;
}

#footer .logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
}

#footer .logo span {
  color: #F4F4FD;
}

#footer p{
    color: #F4F4FD;
}